# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
myenv/

# PyCharm
.idea/

# Database files
*.sqlite3
*.db
/tackletask_tracker/database/tackletask_tracker.db

# Logs
*.log

# MacOS
.DS_Store
